.create-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
    padding: 32px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}

.MuiTextField-root .MuiOutlinedInput-root,
.MuiFormControl-root .MuiOutlinedInput-root {
    border-radius: 8px;
}

.modal-button-cancel {
    border-radius: 8px;
    text-transform: none;
    border-color: #6366F1;
    color: #6366F1;
}

.modal-button-cancel:hover {
    border-color: #4F46E5;
    background-color: rgba(99, 102, 241, 0.04);
}

.modal-button-save {
    border-radius: 8px;
    text-transform: none;
    background-color: #6366F1;
}

.modal-button-save:hover {
    background-color: #4F46E5;
}

.modal-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 24px;
}

.modal-button-addCategory {
    border-color: aquamarine;
}