.container {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-content: center;
    width: 90%;
    height: fit-content;
    padding: 2rem;
    font-family: monospace;
    margin-top: 2rem;
}

.categoryContainer {
    display: flex;
    align-items: center;
    gap: 1rem
}

.availabilityContainer {
    display: flex;
    align-items: center;
    gap: 1rem
}

.inputName {
    width: 15rem;
    height: 1.5rem;
    border-radius: 8px;
    border-width: 1px;
}

.searchButton {
    width: 8rem;
    font-weight: bold;
    background-color: transparent;
    border-color: black;
    color: black;
    border-width: 1.5px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease 0.3s;
}

.searchButton:hover {
    transition: ease 0.3s;
    color: white;
    transform: scale(1.1);
}


.createButton:hover {
    transition: ease 0.3s;
    transform: scale(1.1);
    background-color: rgb(29, 15, 231);
}