.editButton {
    width: 4rem;
    height: 2rem;
    font-weight: bold;
    border-width: 1.5px;
    border-color: #023efa;
    background-color: #023efa;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.editButton:hover {
    transition: background-color 0.3s ease;
    transform: scale(1.1);
}

.deleteButton {
    width: 4rem;
    height: 2rem;
    font-weight: bold;
    border-width: 1.5px;
    border-color: #fa0202;
    background-color: #fa0202;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

.deleteButton:hover {
    transition: background-color 0.3s ease;
    transform: scale(1.1);
}

.expired-soon {
  background-color: #ffb2b2;
}

.expires-within-two-weeks {
  background-color: #fff9c4;
}

.expires-later {
  background-color: #c8ffcd;
}